src/main/mule/app-dev-gitactions-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="035ad173-334f-432a-86fa-3652c8831f87" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="app-dev-gitactions-demoFlow" doc:id="425d14cb-e1da-4e45-9bf3-48b39d48506c" >
		<http:listener doc:name="Listener" doc:id="44807435-637c-4a1c-9c1a-0491c7e896c2" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-variable value="#[correlationId]" doc:name="Set Variable" doc:id="469be664-f6bc-47f5-85da-84c0a30b0a09" variableName="muuid"/>
		<logger level="INFO" doc:name="Logger" doc:id="a42cb56c-c5af-4217-a4e4-45b643ef263b" message="Request received #[vars.muuid]"/>
		<ee:transform doc:name="Transform Message" doc:id="ea530dc1-fa48-4bac-a96d-91c35f0bc4f6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"requestid" : vars.muuid,
	"status" : "Request Successfully processed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
